body {
    transition: 3000ms !important;
    overflow: hidden;
}

div {
    transition: 300ms;
}
.alert-modal {
    position: absolute;
    transition: 300ms;


    opacity: 0;
    bottom: -100px;
    right: calc(-50vw + 200px);
    width: 100px;
}

.show-alert {
    bottom: 30px;
    opacity: 1;
}